#encoding UTF-8
<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        #block title
        <title>Zhishi.me</title>
        #end block title
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <style type="text/css">
            body{ margin:0; font-family:arial; color:#000033; }
            a{ color:#000033; text-decoration:none; }
            a:hover{ text-decoration:underline; }
            .logo{ border-bottom:2px solid #666666; padding:14px; }
            .mainTitle{ font-size:30px; font-weight:bold; padding:29px 0 20px 0; }
            form{ font-size:14px; line-height:26px; margin:50px 0 0 30px; }
            .button{ background:#234C7F; color:#ffffff; border:none; font-weight:bold; font-family:Arial; font-size:11px; cursor:pointer; }
            .nav li {list-style-type:none;}
        </style>
        #block header
        #end block header
    </head>
    <body>
        <div class="logo"><a href="http://zhishi.me/"><img src="/static/logo.gif" /></a></div>
        <table cellspacing="0" cellpadding="0"><tr>
        <td width="184" align="right" valign="top" style="padding-top:50px"><div style="width:184px;" class="nav">
            <li><a href="/">About</a></li>
            <li><a href="/lookup">Lookup</a></li>
            <li><a href="/sparql">SPARQL</a></li>
            <li><a href="/downloads">Downloads</a></li>
            <li><a href="/publications">Publications</a></li>
            <li><a href="/credits">Credits</a></li>
            <li><a href="/support">Support</a></li>
        </div></td>
        <td width="100%">
        <div style="position:relative;margin:0 30px 30px 30px;background:url(/static/sep.gif) no-repeat;padding-left:32px;min-height:600px;">
        #block body
        #end block body
    </body>
</html>
